<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/movie.css"%}">
  </head>
  <body>
    <div class="container" align="center">
      <h1>VIDYA SOFTWARE SOLUTIONS</h1>

      <hr>
      <div class="jumbotron">
          <h2>sravan movies...</h2>
          <p>up to date movies information</p>
          <a class="btn btn-primary btn-lg" href="/addmovie" role="button">Add Movie</a>&nbsp;&nbsp;
          <a class="btn btn-primary btn-lg" href="/movielist" role="button">list movies</a>
      </div>
      </div>
  </body>
</html>
